@import './theme.css';

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--color-background);
    color: var(--color-text-primary);
    margin: 0;
    padding: 0;
}
